body {
    margin: 0;
    padding: 0;

    & .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.content {
    margin: 10px 20px 10px 20px;
    padding: 10px;
    background-color: rgba(61, 65, 68, 0.233);

    & .flex-item1 {
        padding: 0 10px 0 10px;
        height: 40px;
        background-color: rgba(255, 153, 0, 0.63);

    }

    & .container2 {
        display: flex;
        & .flex-item2 {
            padding: 0 10px 0 10px;
            height: 40px;
            width: 50%;
            background-color: rgba(0, 0, 255, 0.63);
        }

        & .flex-item3 {
            padding: 0 10px 0 10px;
            height: 40px;
            width: 50%;
            background-color: rgba(255, 0, 0, 0.63);

        }
    }

    & .container3 {
        display: flex;
        & .flex-item4 {
            padding: 0 10px 0 10px;
            height: 40px;
            width: 50%;
            background-color: rgba(0, 128, 0, 0.664);
        }

        & .flex-item5 {
            padding: 0 10px 0 10px;
            height: 40px;
            width: 50%;
            background-color: rgba(128, 0, 128, 0.644);

        }

        & .flex-item6 {
            padding: 0 10px 0 10px;
            height: 40px;
            width: 50%;
            background-color: rgba(111, 0, 255, 0.692);

        }
    }

    & .containerIn{
        display: flex;

        & .containerIn1{
            width: 33.8%;
            height: 120px;
            background-color: rgba(165, 108, 42, 0.795);
        }

        & .containerIn2{
            width: 67.5%;
            height: 120px;
            
            & .top{
                width: 100%;
                height: 40px;
                background-color: rgba(0, 0, 0, 0.616);
            }

            & .midcontainer{
                display: flex;
                & .mid1 {
                    padding: 0 10px 0 10px;
                    height: 40px;
                    width: 50%;
                    background-color: rgba(140, 0, 255, 0.753);
                }
        
                & .mid2 {
                    padding: 0 10px 0 10px;
                    height: 40px;
                    width: 50%;
                    background-color: rgba(255, 255, 0, 0.582);
        
                }
            }

            & .footer{
                display: flex;
                & .foot1 {
                    padding: 0 10px 0 10px;
                    height: 40px;
                    width: 50%;
                    background-color: rgb(105, 128, 0);
                }
        
                & .foot2 {
                    padding: 0 10px 0 10px;
                    height: 40px;
                    width: 50%;
                    background-color: rgb(60, 0, 128);
        
                }
        
                & .foot3 {
                    padding: 0 10px 0 10px;
                    height: 40px;
                    width: 50%;
                    background-color: rgba(0, 255, 0, 0.733);
        
                }
            }


        }
    }

}
